.app-wrapper {
    min-height: 100vh;
    transition: background-color 0.3s ease;
}

.home-bg {
    background-color: #f5f1e7;
    /* 연한 파랑 - 홈페이지 */
}

.other-bg {
    background-color: #f5f1e7;
    /* 다른 페이지는 약간 아이보리 */
}