.app-wrapper {
    min-height: 100vh;
    transition: background-color 0.3s ease;
}

.home-bg {
    background-color: #3CB371;
    /* 홈페이지 */
}

/*  

🌲 딥 포레스트 그린	#1e3d32	
🔵 딥 블루그레이	#2c3e50
🟣 딥 퍼플그레이    #3f2c4a
🟢 다크 올리브 그린 #3e4e3c
🔴 버건디 와인      #581845
🍃 미드 그린        #2E8B57
🌱 에메랄드 그린    #3CB371
🟢 스프링 그린      #00FA9A
*/

.other-bg {
    background-color: #fbeacc;
    /* 다른 페이지 */
}