.header {
    position: absolute;
    top: 0;
    /* 페이지 맨 위로 딱 붙게 */
    left: 0;
    right: 0;
    height: 60px;
    /* 헤더 높이 지정 */

    width: 100%;
    transition: top 0.3s ease, opacity 0.3s ease;
    z-index: 1100;
    background-color: rgba(255, 255, 255, 0.01) !important;
    box-shadow: none !important;
    padding: 0 !important;
    margin: 0 !important;
    margin-top: 0;
    /* 혹시 여백이나 경계 생기는 걸 막으려고 border, outline 없애기 */
    border: none !important;
    outline: none !important;
    border-top: -20px solid transparent;

}


.header-visible {
    opacity: 1;
}

.header-hidden {
    opacity: 0;
}

.side-menu-button {
  width: 100%;          /* 버튼 가로폭 전체 채우기 */
  text-align: left;     /* 텍스트 왼쪽 정렬 */
  padding: 0.5rem 1rem; /* 위아래 0.5rem, 좌우 1rem 패딩 */
  box-sizing: border-box; /* 패딩 포함해서 너비 계산 */
  white-space: nowrap;  /* 텍스트 줄바꿈 방지 */
  overflow: hidden;     /* 넘치는 텍스트 숨김 */
  text-overflow: ellipsis; /* 넘칠 때 말줄임표 */
}