/* Dropdown Toggle 버튼 스타일 */
.dropdown-toggle {
    background-color: #ffffff !important;
    color: #000000 !important;
    border: 1px solid #fbeacc !important;
    box-shadow: none !important;
}

/* Dropdown 버튼 호버, 포커스 시도 같은 스타일 유지 */
.dropdown-toggle:hover,
.dropdown-toggle:focus,
.dropdown-toggle:active {
    background-color: #ffffff !important;
    color: #000000 !important;
    border: 1px solid #3CB371 !important;
    box-shadow: none !important;
}

/* Dropdown 메뉴 배경 및 테두리 */
.dropdown-menu {
    background-color: #ffffff !important;
    border: 1px solid #ffffff !important;
    padding: 0;
}

/* Dropdown 아이템 기본 텍스트 색 */
.dropdown-item {
    color: #000000 !important;
}

/* Dropdown 아이템 호버, 포커스 시 배경과 글씨색 변경 */
.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item.active {
    background-color: #3CB371 !important;
    color: #ffffff !important;
}



/* SelectedFilter 버튼 (variant="secondary") */
.btn-secondary {
    background-color: #ffffff !important;
    color: #000000 !important;
    border: 1px solid #000000 !important;
    box-shadow: none !important;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
    background-color: #3CB371 !important;
    color: #ffffff !important;
    border-color: #3CB371 !important;
}



/* 마이페이지 버튼 */
.button.mypage {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 6px;
}

.button.mypage:hover {
    background-color: #3CB371;
    color: #000000;
    border: 2px solid #3CB371;
}



/* 리뷰/문의페이지 버튼 */
.btn-custom {
    background-color: #ffffff !important;
    color: #000000 !important;
    border: 1px solid #ffffff !important;
    box-shadow: none !important;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active {
    background-color: #3CB371 !important;
    color: #ffffff !important;
    border-color: #3CB371 !important;
}
